{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile Page</title>
    
<!--<img src="coconuts-health-benefits.jpg" href="/static/image" style="width:304px;height:228px;"/>-->
</head>
<body>
    <div>
        <h1>Profile</h1>
        <br>
        <img src="{{url_for('static', filename= 'image/coco.jpg')}}" width="300" height="200" >
        <br>
        <br>
    <p> Taniska Nairne</p>
    <table>
        <tr>
            <td>Todays Date is: {{timr}} </td>
        </tr>
        <tr>
            <td>Username: Nishka </td>
        </tr>
        <tr>
            <td>ID Number: 620048556</td>
        </tr>
        <tr>
            <td>Age: 57</td>
        </tr>
        <tr>
            <td>Gender: Female</td>
        </tr>
        
    </table>
    <p> Coconut water is the ultimate thirst quencher and offers a tasty alternative to water. 
    This pure liquid is packed with nutrients that yield an array of health benefits.
    </p>
    
    </div>
</body>
</html>



{% endblock %}